<h1>List A Puppy for Adoption!</h1>
<form action="/" method="post">
  <label>Name</label>
  <input type="text" id="name" name="name">
  <label>Breed</label>
  <input type="text" id="breed" name="breed">
  <label>Age</label>
  <input type="text" id="age" name="age">
  <input type="submit" id="submit">
</form>
