<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="" action="/" method="post">

      <label for="name"> Name:
        <input type="text" id="name" name="name"><br>
      </label>

      <label for="breed"> Breed:
        <input type="text" id="breed" name="breed"><br>
      </label>

      <label for="age"> Age:
        <input type="text" id="age" name="age"><br>
      </label>

      <input type="submit" name="" value="submit"><br>

    </form>

  </body>
</html>
