<!DOCTYPE html>
<html>

    <head>
        <title>Your new puppy was created!</title>
    </head>

    <body>
        <h1>Here's your new puppy</h1>
        
        <h2>Puppy Name:</h2>
        <p><%= @new_puppy.name %></p>

        <h2>Puppy Breed:</h2>
        <p><%= @new_puppy.breed %></p>

        <h2>Puppy Age:</h2>
        <p><%= @new_puppy.age %></p>

    </body>
</html>